<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bail Reckoner</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="/static/js/auth.js"></script>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="/">Bail Reckoner</a>
        </div>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
            <a href="/about">About us .</a>
        </nav>
    </header>

    <main class="main-content">
        <h1>Bail Reckoner</h1>
        <p>Understand bail conditions with ease and efficiency.</p>
        <!--<div class="buttons">
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/register'">Register</button>
            <button onclick="location.href='/about'">About</button>
        </div>-->
    </main>

    <footer class="footer">
        <p>&copy; 2024 Bail Reckoner. All rights reserved.</p>
    </footer>
</body>
</html>
